<h1>Simple eCommerce Web app</h1>
<h2>Simplifica tu tienda en linea</h2>
<img src="images/negociosweb.png" alt="imagen de negocios web">
<form action="/hook" method="POST">
    <label for="txtEmail">Reserva tu lugar para ser de los primero en usarlo cuando lo liberemos</label>
    <input type="email" placeholder="tucorreoelectronico" value="" name="txtEmail" id="txtEmail" />
    <br>
    <button type="submit" name="btnAdd">Quiero participar</button>
</form>